# Your Title Here

**Name(s)**: (your name(s) here)

**Website Link**: (your website link)

## Code

In [ ]:
import pandas as pd
import numpy as np
import os

import plotly.express as px
pd.options.plotting.backend = 'plotly'
import openpyxl
from scipy import stats
from scipy.stats import ks_2samp

In [2]:
### Cleaning and EDA

In [3]:
# TODO

# read by default 1st sheet of an excel file
outages = pd.read_excel('outage.xlsx')
outages

,variables,OBS,YEAR,MONTH,U.S._STATE,POSTAL.CODE,NERC.REGION,CLIMATE.REGION,ANOMALY.LEVEL,CLIMATE.CATEGORY,...,POPPCT_URBAN,POPPCT_UC,POPDEN_URBAN,POPDEN_UC,POPDEN_RURAL,AREAPCT_URBAN,AREAPCT_UC,PCT_LAND,PCT_WATER_TOT,PCT_WATER_INLAND
0,Units,NaN,NaN,NaN,NaN,NaN,NaN,NaN,numeric,NaN,...,%,%,persons per square mile,persons per square mile,persons per square mile,%,%,%,%,%
1,NaN,1.0,2011.0,7.0,Minnesota,MN,MRO,East North Central,-0.3,normal,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743
2,NaN,2.0,2014.0,5.0,Minnesota,MN,MRO,East North Central,-0.1,normal,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743
3,NaN,3.0,2010.0,10.0,Minnesota,MN,MRO,East North Central,-1.5,cold,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743
4,NaN,4.0,2012.0,6.0,Minnesota,MN,MRO,East North Central,-0.1,normal,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1530,NaN,1530.0,2011.0,12.0,North Dakota,ND,MRO,West North Central,-0.9,cold,...,59.9,19.9,2192.2,1868.2,3.9,0.27,0.1,97.599649,2.401765,2.401765
1531,NaN,1531.0,2006.0,NaN,North Dakota,ND,MRO,West North Central,NaN,NaN,...,59.9,19.9,2192.2,1868.2,3.9,0.27,0.1,97.599649,2.401765,2.401765
1532,NaN,1532.0,2009.0,8.0,South Dakota,SD,RFC,West North Central,0.5,warm,...,56.65,26.73,2038.3,1905.4,4.7,0.3,0.15,98.307744,1.692256,1.692256
1533,NaN,1533.0,2009.0,8.0,South Dakota,SD,MRO,West North Central,0.5,warm,...,56.65,26.73,2038.3,1905.4,4.7,0.3,0.15,98.307744,1.692256,1.692256
1534,NaN,1534.0,2000.0,NaN,Alaska,AK,ASCC,NaN,NaN,NaN,...,66.02,21.56,1802.6,1276,0.4,0.05,0.02,85.761154,14.238846,2.901182

In [4]:
outages = outages.rename(columns={'OUTAGE.DURATION': 'OUTAGE.DURATION (mins)'})
outages = outages.rename(columns={'DEMAND.LOSS.MW': 'DEMAND.LOSS.MW (Megawatt)'})
outages = outages.rename(columns={'RES.PRICE': 'RES.PRICE (cents / kilowatt-hour)'})
outages = outages.rename(columns={'COM.PRICE': 'COM.PRICE (cents / kilowatt-hour)'})
outages = outages.rename(columns={'IND.PRICE': 'IND.PRICE (cents / kilowatt-hour)'})
outages = outages.rename(columns={'TOTAL.PRICE': 'TOTAL.PRICE (cents / kilowatt-hour)'})
outages = outages.rename(columns={'RES.SALES': 'RES.SALES (Megawatt-hour)'})
outages = outages.rename(columns={'COM.SALES': 'COM.SALES (Megawatt-hour)'})
outages = outages.rename(columns={'IND.SALES': 'IND.SALES (Megawatt-hour)'})
outages = outages.rename(columns={'TOTAL.SALES': 'TOTAL.SALES (Megawatt-hour)'})
outages = outages.rename(columns={'POPDEN_URBAN': 'POPDEN_URBAN (persons per square mile)'})
outages = outages.rename(columns={'POPDEN_UC': 'POPDEN_UC (persons per square mile)'})
outages = outages.rename(columns={'POPDEN_RURAL': 'POPDEN_RURAL (persons per square mile)'})
outages = outages.drop(0)
outages = outages.reset_index(drop=True)
outages = outages.drop(columns='variables')

In [5]:
# Combining times and setting datetime type

def combine_times(df, col1, col2):
    combine = df[col1].astype(str).str[:11] + df[col2].astype(str)
    return pd.to_datetime(combine.apply(lambda x: np.nan if x == 'nannan' else x), format='%Y-%m-%d %H:%M:%S')
outages = outages.assign(**{'OUTAGE.START':combine_times(outages, "OUTAGE.START.DATE", "OUTAGE.START.TIME")})
outages = outages.assign(**{'OUTAGE.RESTORATION':combine_times(outages, "OUTAGE.RESTORATION.DATE", "OUTAGE.RESTORATION.TIME")})

In [6]:
outages

,OBS,YEAR,MONTH,U.S._STATE,POSTAL.CODE,NERC.REGION,CLIMATE.REGION,ANOMALY.LEVEL,CLIMATE.CATEGORY,OUTAGE.START.DATE,...,POPDEN_URBAN (persons per square mile),POPDEN_UC (persons per square mile),POPDEN_RURAL (persons per square mile),AREAPCT_URBAN,AREAPCT_UC,PCT_LAND,PCT_WATER_TOT,PCT_WATER_INLAND,OUTAGE.START,OUTAGE.RESTORATION
0,1.0,2011.0,7.0,Minnesota,MN,MRO,East North Central,-0.3,normal,2011-07-01 00:00:00,...,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743,2011-07-01 17:00:00,2011-07-03 20:00:00
1,2.0,2014.0,5.0,Minnesota,MN,MRO,East North Central,-0.1,normal,2014-05-11 00:00:00,...,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743,2014-05-11 18:38:00,2014-05-11 18:39:00
2,3.0,2010.0,10.0,Minnesota,MN,MRO,East North Central,-1.5,cold,2010-10-26 00:00:00,...,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743,2010-10-26 20:00:00,2010-10-28 22:00:00
3,4.0,2012.0,6.0,Minnesota,MN,MRO,East North Central,-0.1,normal,2012-06-19 00:00:00,...,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743,2012-06-19 04:30:00,2012-06-20 23:00:00
4,5.0,2015.0,7.0,Minnesota,MN,MRO,East North Central,1.2,warm,2015-07-18 00:00:00,...,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743,2015-07-18 02:00:00,2015-07-19 07:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,1530.0,2011.0,12.0,North Dakota,ND,MRO,West North Central,-0.9,cold,2011-12-06 00:00:00,...,2192.2,1868.2,3.9,0.27,0.1,97.599649,2.401765,2.401765,2011-12-06 08:00:00,2011-12-06 20:00:00
1530,1531.0,2006.0,NaN,North Dakota,ND,MRO,West North Central,NaN,NaN,NaN,...,2192.2,1868.2,3.9,0.27,0.1,97.599649,2.401765,2.401765,NaT,NaT
1531,1532.0,2009.0,8.0,South Dakota,SD,RFC,West North Central,0.5,warm,2009-08-29 00:00:00,...,2038.3,1905.4,4.7,0.3,0.15,98.307744,1.692256,1.692256,2009-08-29 22:54:00,2009-08-29 23:53:00
1532,1533.0,2009.0,8.0,South Dakota,SD,MRO,West North Central,0.5,warm,2009-08-29 00:00:00,...,2038.3,1905.4,4.7,0.3,0.15,98.307744,1.692256,1.692256,2009-08-29 11:00:00,2009-08-29 14:01:00
1533,1534.0,2000.0,NaN,Alaska,AK,ASCC,NaN,NaN,NaN,NaN,...,1802.6,1276,0.4,0.05,0.02,85.761154,14.238846,2.901182,NaT,NaT

In [7]:
outages.columns

Index(['OBS', 'YEAR', 'MONTH', 'U.S._STATE', 'POSTAL.CODE', 'NERC.REGION',
       'CLIMATE.REGION', 'ANOMALY.LEVEL', 'CLIMATE.CATEGORY',
       'OUTAGE.START.DATE', 'OUTAGE.START.TIME', 'OUTAGE.RESTORATION.DATE',
       'OUTAGE.RESTORATION.TIME', 'CAUSE.CATEGORY', 'CAUSE.CATEGORY.DETAIL',
       'HURRICANE.NAMES', 'OUTAGE.DURATION (mins)',
       'DEMAND.LOSS.MW (Megawatt)', 'CUSTOMERS.AFFECTED',
       'RES.PRICE (cents / kilowatt-hour)',
       'COM.PRICE (cents / kilowatt-hour)',
       'IND.PRICE (cents / kilowatt-hour)',
       'TOTAL.PRICE (cents / kilowatt-hour)', 'RES.SALES (Megawatt-hour)',
       'COM.SALES (Megawatt-hour)', 'IND.SALES (Megawatt-hour)',
       'TOTAL.SALES (Megawatt-hour)', 'RES.PERCEN', 'COM.PERCEN', 'IND.PERCEN',
       'RES.CUSTOMERS', 'COM.CUSTOMERS', 'IND.CUSTOMERS', 'TOTAL.CUSTOMERS',
       'RES.CUST.PCT', 'COM.CUST.PCT', 'IND.CUST.PCT', 'PC.REALGSP.STATE',
       'PC.REALGSP.USA', 'PC.REALGSP.REL', 'PC.REALGSP.CHANGE', 'UTIL.REALGSP',
       'TOTAL.REALGSP', 'UTIL.CONTRI', 'PI.UTIL.OFUSA', 'POPULATION',
       'POPPCT_URBAN', 'POPPCT_UC', 'POPDEN_URBAN (persons per square mile)',
       'POPDEN_UC (persons per square mile)',
       'POPDEN_RURAL (persons per square mile)', 'AREAPCT_URBAN', 'AREAPCT_UC',
       'PCT_LAND', 'PCT_WATER_TOT', 'PCT_WATER_INLAND', 'OUTAGE.START',
       'OUTAGE.RESTORATION'],
      dtype='object')

In [8]:
def clean_categories(text):
    if text == ' Hydro' or text == 'Hydro':
        return 'hydro'
    elif text == ' Coal' or text == 'Coal':
        return 'coal'
    elif text == ' Natural Gas':
        return 'natural gas'
    elif text == 'Petroleum':
        return 'petroleum'
    else:
        return text

In [9]:
# didn't do any cleaning for 'OUTAGE.START.DATE', 'OUTAGE.START.TIME', 'OUTAGE.RESTORATION.DATE', 
# and 'OUTAGE.RESTORATION.TIME', since we'll most likely only use the newly creted variables OUTAGE.START and
# OUTAGE.RESTORATION

outages['OBS'] = outages['OBS'].astype(int)
outages['YEAR'] = outages['YEAR'].astype(int)
outages['MONTH'] = outages['MONTH'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['CLIMATE.REGION'] = outages['CLIMATE.REGION'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['ANOMALY.LEVEL'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['CLIMATE.CATEGORY'] = outages['CLIMATE.CATEGORY'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['CAUSE.CATEGORY.DETAIL'] = outages['CAUSE.CATEGORY.DETAIL'].apply(clean_categories)
outages['CAUSE.CATEGORY.DETAIL'] = outages['CAUSE.CATEGORY.DETAIL'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['HURRICANE.NAMES'] = outages['HURRICANE.NAMES'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['OUTAGE.DURATION (mins)'] = outages['OUTAGE.DURATION (mins)'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['DEMAND.LOSS.MW (Megawatt)'] = outages['DEMAND.LOSS.MW (Megawatt)'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['CUSTOMERS.AFFECTED'] = outages['CUSTOMERS.AFFECTED'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['RES.PRICE (cents / kilowatt-hour)'] = outages['RES.PRICE (cents / kilowatt-hour)'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['COM.PRICE (cents / kilowatt-hour)'] = outages['COM.PRICE (cents / kilowatt-hour)'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['IND.PRICE (cents / kilowatt-hour)'] = outages['IND.PRICE (cents / kilowatt-hour)'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['TOTAL.PRICE (cents / kilowatt-hour)'] = outages['TOTAL.PRICE (cents / kilowatt-hour)'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['RES.SALES (Megawatt-hour)'] = outages['RES.SALES (Megawatt-hour)'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['COM.SALES (Megawatt-hour)'] = outages['COM.SALES (Megawatt-hour)'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['IND.SALES (Megawatt-hour)'] = outages['IND.SALES (Megawatt-hour)'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['TOTAL.SALES (Megawatt-hour)'] = outages['TOTAL.SALES (Megawatt-hour)'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['RES.PERCEN'] = outages['RES.PERCEN'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['COM.PERCEN'] = outages['COM.PERCEN'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['IND.PERCEN'] = outages['IND.PERCEN'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['RES.CUSTOMERS'] = outages['RES.CUSTOMERS'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['COM.CUSTOMERS'] = outages['COM.CUSTOMERS'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['IND.CUSTOMERS'] = outages['IND.CUSTOMERS'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['TOTAL.CUSTOMERS'] = outages['TOTAL.CUSTOMERS'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['RES.CUST.PCT'] = outages['RES.CUST.PCT'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['COM.CUST.PCT'] = outages['COM.CUST.PCT'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['IND.CUST.PCT'] = outages['IND.CUST.PCT'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['PC.REALGSP.STATE'] = outages['PC.REALGSP.STATE'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['PC.REALGSP.USA'] = outages['PC.REALGSP.USA'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['PC.REALGSP.REL'] = outages['PC.REALGSP.REL'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['PC.REALGSP.CHANGE'] = outages['PC.REALGSP.CHANGE'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['UTIL.REALGSP'] = outages['UTIL.REALGSP'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['TOTAL.REALGSP'] = outages['TOTAL.REALGSP'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['UTIL.CONTRI'] = outages['UTIL.CONTRI'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['PI.UTIL.OFUSA'] = outages['PI.UTIL.OFUSA'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['POPULATION'] = outages['POPULATION'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['POPPCT_URBAN'] = outages['POPPCT_URBAN'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['POPPCT_UC'] = outages['POPPCT_UC'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['POPDEN_URBAN (persons per square mile)'] = outages['POPDEN_URBAN (persons per square mile)'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['POPDEN_UC (persons per square mile)'] = outages['POPDEN_UC (persons per square mile)'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['POPDEN_RURAL (persons per square mile)'] = outages['POPDEN_RURAL (persons per square mile)'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['AREAPCT_URBAN'] = outages['AREAPCT_URBAN'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['AREAPCT_UC'] = outages['AREAPCT_UC'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['PCT_LAND'] = outages['PCT_LAND'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['PCT_WATER_TOT'] = outages['PCT_WATER_TOT'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['PCT_WATER_INLAND'] = outages['PCT_WATER_INLAND'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['OUTAGE.START'] = outages['OUTAGE.START'].apply(lambda x: np.nan if pd.isna(x) else x)
outages['OUTAGE.RESTORATION'] = outages['OUTAGE.RESTORATION'].apply(lambda x: np.nan if pd.isna(x) else x)

In [10]:
# turn percentages to proportions in float64 type
outages['RES.PERCEN'] = outages['RES.PERCEN'] / 100
outages['COM.PERCEN'] = outages['COM.PERCEN'] / 100
outages['IND.PERCEN'] = outages['IND.PERCEN'] / 100
outages['RES.CUST.PCT'] = outages['RES.CUST.PCT'] / 100
outages['COM.CUST.PCT'] = outages['COM.CUST.PCT'] / 100
outages['IND.CUST.PCT'] = outages['IND.CUST.PCT'] / 100
outages['PC.REALGSP.CHANGE'] = outages['PC.REALGSP.CHANGE'] / 100
outages['UTIL.CONTRI'] = outages['UTIL.CONTRI'] / 100
outages['PI.UTIL.OFUSA'] = outages['PI.UTIL.OFUSA'] / 100
outages['POPPCT_URBAN'] = outages['POPPCT_URBAN'] / 100
outages['POPPCT_UC'] = outages['POPPCT_UC'] / 100
outages['AREAPCT_URBAN'] = outages['AREAPCT_URBAN'] / 100
outages['AREAPCT_UC'] = outages['AREAPCT_UC'] / 100
outages['PCT_LAND'] = outages['PCT_LAND'] / 100
outages['PCT_WATER_TOT'] = outages['PCT_WATER_TOT'] / 100
outages['PCT_WATER_INLAND'] = outages['PCT_WATER_INLAND'] / 100

In [16]:
severe_weather = outages[outages["CAUSE.CATEGORY"] == 'severe weather']
severe_weather

,OBS,YEAR,MONTH,U.S._STATE,POSTAL.CODE,NERC.REGION,CLIMATE.REGION,ANOMALY.LEVEL,CLIMATE.CATEGORY,OUTAGE.START.DATE,...,POPDEN_URBAN (persons per square mile),POPDEN_UC (persons per square mile),POPDEN_RURAL (persons per square mile),AREAPCT_URBAN,AREAPCT_UC,PCT_LAND,PCT_WATER_TOT,PCT_WATER_INLAND,OUTAGE.START,OUTAGE.RESTORATION
0,1,2011,7.0,Minnesota,MN,MRO,East North Central,-0.3,normal,2011-07-01 00:00:00,...,2279.0,1700.5,18.2,0.0214,0.0060,0.915927,0.084073,0.054787,2011-07-01 17:00:00,2011-07-03 20:00:00
2,3,2010,10.0,Minnesota,MN,MRO,East North Central,-1.5,cold,2010-10-26 00:00:00,...,2279.0,1700.5,18.2,0.0214,0.0060,0.915927,0.084073,0.054787,2010-10-26 20:00:00,2010-10-28 22:00:00
3,4,2012,6.0,Minnesota,MN,MRO,East North Central,-0.1,normal,2012-06-19 00:00:00,...,2279.0,1700.5,18.2,0.0214,0.0060,0.915927,0.084073,0.054787,2012-06-19 04:30:00,2012-06-20 23:00:00
4,5,2015,7.0,Minnesota,MN,MRO,East North Central,1.2,warm,2015-07-18 00:00:00,...,2279.0,1700.5,18.2,0.0214,0.0060,0.915927,0.084073,0.054787,2015-07-18 02:00:00,2015-07-19 07:00:00
5,6,2010,11.0,Minnesota,MN,MRO,East North Central,-1.4,cold,2010-11-13 00:00:00,...,2279.0,1700.5,18.2,0.0214,0.0060,0.915927,0.084073,0.054787,2010-11-13 15:00:00,2010-11-14 22:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1514,1515,2005,1.0,Kansas,KS,SPP,South,0.7,warm,2005-01-04 00:00:00,...,2176.5,1983.0,9.1,0.0119,0.0042,0.993692,0.006320,0.006320,2005-01-04 18:00:00,2005-01-14 12:00:00
1515,1516,2008,12.0,Hawaii,HI,HI,NaN,-0.7,cold,2008-12-26 00:00:00,...,3180.8,1664.7,18.2,0.0612,0.0260,0.587541,0.412459,0.003842,2008-12-26 18:13:00,2008-12-27 17:00:00
1516,1517,2011,5.0,Hawaii,HI,PR,NaN,-0.4,normal,2011-05-02 00:00:00,...,3180.8,1664.7,18.2,0.0612,0.0260,0.587541,0.412459,0.003842,2011-05-02 17:06:00,2011-05-02 20:00:00
1517,1518,2006,10.0,Hawaii,HI,HECO,NaN,0.7,warm,2006-10-15 00:00:00,...,3180.8,1664.7,18.2,0.0612,0.0260,0.587541,0.412459,0.003842,2006-10-15 07:09:00,2006-10-15 16:12:00
1519,1520,2006,10.0,Hawaii,HI,HECO,NaN,0.7,warm,2006-10-15 00:00:00,...,3180.8,1664.7,18.2,0.0612,0.0260,0.587541,0.412459,0.003842,2006-10-15 07:09:00,2006-10-16 14:55:00

In [17]:
severe_weather.columns

Index(['OBS', 'YEAR', 'MONTH', 'U.S._STATE', 'POSTAL.CODE', 'NERC.REGION',
       'CLIMATE.REGION', 'ANOMALY.LEVEL', 'CLIMATE.CATEGORY',
       'OUTAGE.START.DATE', 'OUTAGE.START.TIME', 'OUTAGE.RESTORATION.DATE',
       'OUTAGE.RESTORATION.TIME', 'CAUSE.CATEGORY', 'CAUSE.CATEGORY.DETAIL',
       'HURRICANE.NAMES', 'OUTAGE.DURATION (mins)',
       'DEMAND.LOSS.MW (Megawatt)', 'CUSTOMERS.AFFECTED',
       'RES.PRICE (cents / kilowatt-hour)',
       'COM.PRICE (cents / kilowatt-hour)',
       'IND.PRICE (cents / kilowatt-hour)',
       'TOTAL.PRICE (cents / kilowatt-hour)', 'RES.SALES (Megawatt-hour)',
       'COM.SALES (Megawatt-hour)', 'IND.SALES (Megawatt-hour)',
       'TOTAL.SALES (Megawatt-hour)', 'RES.PERCEN', 'COM.PERCEN', 'IND.PERCEN',
       'RES.CUSTOMERS', 'COM.CUSTOMERS', 'IND.CUSTOMERS', 'TOTAL.CUSTOMERS',
       'RES.CUST.PCT', 'COM.CUST.PCT', 'IND.CUST.PCT', 'PC.REALGSP.STATE',
       'PC.REALGSP.USA', 'PC.REALGSP.REL', 'PC.REALGSP.CHANGE', 'UTIL.REALGSP',
       'TOTAL.REALGSP', 'UTIL.CONTRI', 'PI.UTIL.OFUSA', 'POPULATION',
       'POPPCT_URBAN', 'POPPCT_UC', 'POPDEN_URBAN (persons per square mile)',
       'POPDEN_UC (persons per square mile)',
       'POPDEN_RURAL (persons per square mile)', 'AREAPCT_URBAN', 'AREAPCT_UC',
       'PCT_LAND', 'PCT_WATER_TOT', 'PCT_WATER_INLAND', 'OUTAGE.START',
       'OUTAGE.RESTORATION'],
      dtype='object')

In [21]:
assess_mar = severe_weather[['YEAR', 'MONTH', 'U.S._STATE', 'POSTAL.CODE', 'NERC.REGION', 'CLIMATE.REGION', 'CAUSE.CATEGORY', 'CAUSE.CATEGORY.DETAIL']]
assess_mar

,YEAR,MONTH,U.S._STATE,POSTAL.CODE,NERC.REGION,CLIMATE.REGION,CAUSE.CATEGORY,CAUSE.CATEGORY.DETAIL
0,2011,7.0,Minnesota,MN,MRO,East North Central,severe weather,NaN
2,2010,10.0,Minnesota,MN,MRO,East North Central,severe weather,heavy wind
3,2012,6.0,Minnesota,MN,MRO,East North Central,severe weather,thunderstorm
4,2015,7.0,Minnesota,MN,MRO,East North Central,severe weather,NaN
5,2010,11.0,Minnesota,MN,MRO,East North Central,severe weather,winter storm
...,...,...,...,...,...,...,...,...
1514,2005,1.0,Kansas,KS,SPP,South,severe weather,winter storm
1515,2008,12.0,Hawaii,HI,HI,NaN,severe weather,thunderstorm
1516,2011,5.0,Hawaii,HI,PR,NaN,severe weather,NaN
1517,2006,10.0,Hawaii,HI,HECO,NaN,severe weather,earthquake
1519,2006,10.0,Hawaii,HI,HECO,NaN,severe weather,earthquake

### Assessment of Missingness

In [22]:
# TODO
def k_s_stat(df, col):
    first_group = df[df[col].notna()]['CAUSE.CATEGORY.DETAIL']
    second_group = df[df[col].isna()]['CAUSE.CATEGORY.DETAIL']
    return ks_2samp(first_group, second_group).statistic

In [23]:
def get_pvals(df):

    columns = df.columns

    p_vals = []

    for i in columns:
        if i != 'CAUSE.CATEGORY.DETAIL':
            n = 10000
            
            ks = []
            
            for _ in range(n):
                df['shuffled_column'] = np.random.permutation(df[i])
                ks.append(k_s_stat(df,'shuffled_column'))

            p_val = (np.array(ks) >= k_s_stat(df, i)).mean()

            p_vals.append(p_val)

        else:
            continue
    return p_vals

In [24]:
get_pvals(assess_mar)

/var/folders/ld/h6d3l3r56d1g_3kzrq55n50r0000gn/T/ipykernel_88882/3675979166.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['shuffled_column'] = np.random.permutation(df[i])

NameError: name 'ks_2samp' is not defined

### Hypothesis Testing

In [13]:
# TODO